@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 0, 0, 0;
  background: white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.bg::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}