@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 0, 0, 0;
  background: white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.bg::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}